@charset "UTF-8";

html, body
{
	width: 100%;
	height: 100%;
}

.dev
{
	width: inherit;
	position: absolute;
}

.dev ul
{
	width: inherit;

	position: relative;
}

.dev li
{
	width: 40px;
	height: 40px;
	margin: 10px 0 0 10px;
	position: relative;
	display: inline-block;
	background: pink;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}

.basic-wrapper
{
	width: 100%;
	height: 100%;
	position: absolute;

	overflow: hidden;

	/*https://coolors.co/app*/
	background: #009fb7;
}

.basic-inner
{
	width: inherit;
	height: inherit;

	position: relative;
}

.tween
{
	backface-visibility: none;
}

.camera
{
	width: 50%;
	height: 50%;

	position: absolute;

	left: 50%; top: 50%;

	transform: translate(-50%, -50%);

	overflow: hidden;

	background: #000;
}

.viewer
{
	width: 2000px;
	height: 1333px;

	position: absolute;

	transition: 800ms ease-in-out;
}

.bg
{
	width: inherit;
	height: inherit;

	position: absolute;
	left: 0; top: 0;

	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	
	outline: 1px solid #000;
}

.section
{
	position: absolute;

	background: rgba(255, 0, 51, 0.5);
}

.blend
{
	width: inherit;
	height: inherit;
	
	position: absolute;
	
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 1);
}

.edge
{
	width: 100%;
	height: 100%;

	position: absolute;

	outline: 20px solid #fff;
	outline-offset: -20px;
}




/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}